
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400&display=swap');

html,
body {
  font-family: "Mitr", sans-serif;
}

.body--light {
  background-color: #e6e8ea;
  height: auto;
}

.forgetPW{
  text-decoration: underline;
  color: rgb(106, 106, 226);
}

.txtInput{
  width: 100%;
}

.hiddenIcon{
  text-align: end;
  text-align: right;
}

.q-btn__wrapper:before{
  box-shadow:none
}

.loginBtn{
  display: block;
  width: 100%;
  height: 3rem;
  border: none;
  padding: 0px 28px;
  cursor: pointer;
}
.hiddenIcon{
  text-align: end;
  text-align: right;
}

.loginBtn{
  display: block;
  width: 100%;
  height: 3rem;
  border: none;
  padding: 0px 28px;
  cursor: pointer;

}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;  
  margin-bottom: 0px;
  margin-top: 0px;

}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(94, 51, 51, 0.24);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  background: linear-gradient(226.71deg, #9276FF 6.26%, rgba(156, 131, 254, 0.900464) 14.98%, rgba(244, 244, 244, 0) 93.84%);
}

.circles li:nth-child(2) {
  left: 10%;
  width: 35px;
  height: 35px;
  animation-delay: 2s;
  animation-duration: 12s;
  background: linear-gradient(226.71deg, #8263FF 6.26%, rgba(202, 190, 247, 0.900464) 62.85%, #F4F4F4 93.84%);
}

.circles li:nth-child(3) {
  left: 70%;
  width: 40px;
  height: 40px;
  animation-delay: 4s;
  background: linear-gradient(226.71deg, #8263FF 6.26%, rgba(202, 190, 247, 0.900464) 62.85%, #F4F4F4 93.84%);
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  background: linear-gradient(226.71deg, #9276FF 6.26%, rgba(156, 131, 254, 0.900464) 14.98%, rgba(244, 244, 244, 0) 93.84%);
}

.circles li:nth-child(5) {
  left: 65%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  background: linear-gradient(226.71deg, #8263FF 6.26%, rgba(202, 190, 247, 0.900464) 62.85%, #F4F4F4 93.84%);
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  background: linear-gradient(226.71deg, #7D5FF2 22.92%, rgba(209, 197, 255, 0) 93.84%);
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  border-radius: 20px;
  background: linear-gradient(226.71deg, #9276FF 6.26%, rgba(156, 131, 254, 0.900464) 14.98%, rgba(244, 244, 244, 0) 93.84%);
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  background: linear-gradient(226.71deg, #8263FF 6.26%, rgba(202, 190, 247, 0.900464) 62.85%, #F4F4F4 93.84%);
}

.circles li:nth-child(9) {
  left: 20%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
  animation-duration: 35s;
  background: linear-gradient(226.71deg, #8263FF 6.26%, rgba(202, 190, 247, 0.900464) 62.85%, #F4F4F4 93.84%);
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  animation-delay: 0s;
  animation-duration: 11s;
  background: linear-gradient(226.71deg, #9276FF 6.26%, rgba(156, 131, 254, 0.900464) 14.98%, rgba(244, 244, 244, 0) 93.84%);
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

  